{% extends "base.html" %}
{% block title %}대시보드{% endblock %}
{% block content %}

<h3>1 대 1 채팅</h3>
<div>
  <form method="POST" action="/chating">
    <input type="text" name="room" placeholder="enter the chating room's name">
    <input type="submit" value="submit" style="cursor:pointer;">
  </form>
</div>
<div id="chat">
  <ul id="messages"></ul>
  <input id="chat_input" type="text" placeholder="메시지를 입력하세요">
  <button onclick="sendMessage()">전송</button>
</div>

<script type="text/javascript">
  var socket = io.connect("http://127.0.0.1:5000/chat");
  socket.on('connect', function() {
	  socket.emit("join", {})
  });

  socket.on("status", function(data){
	  console.log(data);
	  let message = document.getElementById("messages");
	  let item = document.createElement("li");
	  item.textContent = "< " + data.messages + " >";
	  message.appendChild(item);
	  window.scrollTo(0, document.body.scrollHeight);
  })

  socket.on('message', function(data) {
    var messages = document.getElementById('messages');
    var item = document.createElement('li');
    item.textContent = data.username + ": " + data.message;
    messages.appendChild(item);
    window.scrollTo(0, document.body.scrollHeight);
  });

  function sendMessage() {
    var input = document.getElementById('chat_input');
    var message = input.value;
    if (message) {
      socket.emit('chating', { 'username': "{{ user.username }}", 'message': message });
      input.value = "";
    }
  }
</script>
{% endblock %}
