{% extends "base.html" %}
{% block title %}프로필{% endblock %}
{% block content %}
<h2>프로필 관리</h2>
<p>사용자명: {{ user.username }}</p>
<form method="post">
  소개글: <br>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <textarea name="bio" rows="4" cols="50">{{ user.bio or '' }}</textarea><br>
  <button type="submit">프로필 업데이트</button>
</form>
<form method="POST" action="/profile/change_password">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="text" placeholder="new password" name="new_password">
  <input type="submit" value="password change">
</form>
{% endblock %}
